@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

*{
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

body{
    font-family: "Azeret Mono",monospace;
}
/* Navigation Bar Style */

.nav-name{
    color: rgb(13, 19, 30);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    text-align: left;
    margin-top: 20px;
}

.btn-resume{
    width: 228px;
    height: 58px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 30);
    border-radius: 10px;
    opacity: 0.9;
    color: rgb(13, 19, 30);
    font-family: Azeret Mono;
    font-size: 15px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding-top: 48px;
    margin-bottom: 45px;
}

header{
    max-width: 1300px;
    margin: 0 auto;
}
/* End of Navigation Bar*/

/* Banner Section Style */

.banner-section{
    background: url(../assets/Hero-bg.png);
    max-width: device-width;
    height: 600px;
    margin: 0 auto 70px auto;
}

.banner-body{
    width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.banner-body img{
    margin: 25px 0 30px 0;
}

.banner-title{
    color: rgb(13, 19, 30);
    font-family: Azeret Mono;
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    margin-bottom: 25px;
}

.banner-content{
    color: rgb(13, 19, 30);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
    opacity: 0.8;
    margin-bottom: 30px;
}

.btn-contact{
    align-items: center;
    padding: 15px 21px 15px 21px;
    border-radius: 9px;
    background: rgb(13, 19, 30);
    cursor: pointer;
    color: white;
    font-family: Azeret Mono;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}

/* Banner Section End */

/* Web Development Section Style */

.dev-section{
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

.dev-title{
    color: rgb(13, 19, 30);
    font-family: Azeret Mono;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 30px;
    margin-top: 50px;
    padding-top: 40px;
}

.dev-word{
    color: rgb(13, 19, 30);
    font-family: Azeret Mono;
    font-size: 15px;
    font-weight: normal;
    opacity: 0.8;
    margin-bottom: 40px;
    line-height: 26px;
}

/* Web Development Section End */

/* Feed Section Style */

.feed-bg{
    background-color: rgb(247, 247, 247);
    max-width: 80%;
    margin: 0 auto;
}

.feed-section{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 80px;
    margin-bottom: 70px;
}

.feed-container{
    display: flex;
    gap: 90px;
    padding: 40px;
    margin-bottom: 30px;
}

.feed-title{
    color: rgba(13, 19, 33, 0.8);
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 15px;
}

.feed-text{
    color: rgb(13, 19, 30);
    font-size: 15px;
    font-weight: 400;
    text-align: left justify;
    opacity: 0.7;
    margin-bottom: 30px;
    line-height: 26px;
}

.readmore-btn{
    width: 160px;
    height: 60px;
    box-sizing: border-box;
    border: 1.5px solid rgb(13, 19, 30);
    opacity: 0.8;
    padding: 10px 20px 10px 20px;
    color: rgb(13, 19, 30);
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 800;
    text-align: center;
}

/* Feed Section End */

/* Inspiration Section Style */

.inspiration{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
  }

.inspiration-title {
    color: rgb(13, 19, 30);
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 20px;
  }

.inspiration-text{
    color: rgb(13, 19, 30);
    font-size: 15px;
    font-weight: 400;
    opacity: 0.8;
    margin-bottom: 40px;
    line-height: 26px;
    max-width: 80%;
    margin: 0 auto 50px auto;
    text-align: center;
}

.video{
    border-radius: 8px;
    margin: 10px 0px;
}

iframe{
    border: 0.1px inset;
    border-radius: 15px;
    padding: 15px;
}

/* Inspiration Section End */

/* Target Section */

.target-section{
    width: 80%;
    min-height: 463px;
    margin: 0 auto;
    margin-top: 145px;
}

.target-heading{
    text-align: center;
}

.target-heading h2{
    color: rgb(13, 19, 30);
    margin-top: 0px;
    font-size: 30px;
    font-weight: 800;
}

.target-heading p{
    margin-top: 25px;
    color: rgb(13, 19, 30);
    font-size: 15px;
    opacity: 0.8;
}

.target-details{
    margin-top: 45px;
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
}

.target-details a{
    color: rgb(13, 19, 30);
    font-size: 15px;
    font-weight: 700;
    width: 90%;
}

.html{
    border-radius: 18px;
    background-color: rgba(255, 76, 30, 0.05);
    padding: 50px;
}

.html p{
    padding: 20px 0;
}

.html img{
    padding-bottom: 20px;
}

.css{
    border-radius: 18px;
    background-color: rgba(0, 76, 232, 0.05);
    padding: 50px;
}

.css img{
    padding-bottom: 20px;
}

.css p{
    padding: 20px 0;
}

.javascript{
    border-radius: 18px;
    background-color: rgba(255, 223, 0, 0.05);
    padding: 50px;
}

.javascript img{
    padding-bottom: 20px;
}

.javascript p{
    padding: 20px 0;
}

/* Target Section End */

/* Next Target Section */

.next-target {
    width: 80%;
    margin: 0 auto;
    padding: 40px;
  }
  .next-target-card {
    display: flex;
    gap: 24px;
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin-bottom: 24px;
  }
  .next-target-img img {
    width: 110px;
    height: 100px;
  }

  .target-text {
    text-align: center;
  }

  .next-target-text {
    text-align: left;
  }
  .next-target-title {
    color: rgb(13, 19, 30);
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 8px;
  }
  .next-target-subtitle {
    color: rgb(13, 19, 30);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    margin-bottom: 24px;
  }
  .next-target-text a {
    color: rgb(13, 19, 30);
    font-size: 16px;
    font-weight: 700;
    text-decoration-line: underline;
  }

  .target-content {
    color: rgb(13, 19, 30);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    margin-bottom: 48px;
    text-align: center;
  }

  .target-content p{
    margin-top: 25px;
    color: rgb(13, 19, 30);
    font-size: 15px;
    opacity: 0.8;
  }

  /* Next Target Section End */
  